@charset "utf-8";
#znxaa #lzfjaf .zxl #maxc #fql {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	color: #FFFFFF;
	
	
	
}



#fql li {
height:20px;

}



#cust li a:hover{
font-size:12px;
color: #FF0000;

}
